<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="/styles/normalize.css">
  </head>
  <body>
    Page List <br>
    {{ range .pageList }}
    <ul>
      <li>ID: <a href="/page/{{ .Id }}"> {{ .Id }} </a></li>
      <li>URL: <a href="/page/{{ .Url }}"> {{ .Url }} </a></li>
      <li>Title: {{ .Title }}</li>
      <li>Content: {{ .Content}}</li>
      <li>UserId: {{ .UserId }}</li>
      <li>Date Published: {{ call $.TimestampToDate .DatePublished }}</li>
      <li>Date Modified: {{ call $.TimestampToDate .DateModified }}</li>
    </ul>
    {{ end }}
    <a href="/"> < Home Page </a>
	<!-- <script src="scripts/index.js"></script> -->
  </body>
</html>